/* Applying smooth scrolling behavior to the entire document */
html {
    scroll-behavior: smooth;
}

/* Resetting default margin on the body */
body {
    margin: 0;
}

/* Header styles */
header {
    background-color: #000000; /* Background color of the header */
    display: flex; /* Using flexbox for header layout */
    align-items: center; /* Center items vertically */
    height: 155px; /* Setting the header height */
    padding: 0 25px; /* Adding padding to the header */
}

/* Styling for the logo container */
header div {
    height: 115px; /* Setting the height of the logo container */
    width: auto;
    flex-grow: 1; /* Allowing the container to grow */
}

/* Styling for the header logo image */
header img {
    height: 100%; /* Making the logo image fill the container */
    width: auto;
}

/* Styling for the header h1 element */
header h1 {
    color: rgb(223, 39, 70); /* Text color */
    margin: 0; /* Remove margin */
    font-size: 50px; /* Setting font size */
    text-align: center; /* Center-align the text */
    flex-grow: 20; /* Allowing the title to grow */
    display: flex; /* Using flexbox for text centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* CSS styles for section-1 */
.section-1 {
    font-family: 'Sedgwick Ave Display', cursive; /* Setting font family */
    color: #40e0d0; /* Text color */
    background: linear-gradient(to bottom, rgb(245, 152, 168), rgb(255, 0, 43)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 35px; /* Font size */
    margin: 0; /* Removing top and bottom margins to eliminate gaps */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-2 */
.section-2 {
    font-family: 'Rock Salt', cursive; /* Setting font family */
    color: #ffff00; /* Text color */
    background: linear-gradient(to bottom, rgb(255, 0, 43), rgb(255, 166, 0)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 25px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-3 */
.section-3 {
    font-family: 'Montserrat Alternates', sans-serif; /* Setting font family */
    color: #ff0000; /* Text color */
    background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(43, 255, 1)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 27px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-4 */
.section-4 {
    font-family: 'Kalam', cursive; /* Setting font family */
    color: #0000ff; /* Text color */
    background: linear-gradient(to bottom, rgb(43, 255, 1), rgb(71, 255, 212)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 37px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-5 */
.section-5 {
    font-family: 'Raleway', sans-serif; /* Setting font family */
    font-size: 28px; /* Font size */
    color: #ffa500; /* Text color */
    background: linear-gradient(to bottom, rgb(71, 255, 212), rgb(2, 2, 255)); /* Gradient background */
    font-weight: 700; /* Font weight */
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-6 */
.section-6 {
    font-family: 'Satisfy', cursive; /* Setting font family */
    color: #000000; /* Text color */
    background: linear-gradient(to bottom, rgb(2, 2, 255), rgb(160, 93, 255)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 38px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-7 */
.section-7 {
    font-family: 'Montserrat Alternates', sans-serif; /* Setting font family */
    color: #ff0000; /* Text color */
    background: linear-gradient(to bottom, rgb(160, 93, 255), rgb(230, 0, 255)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 27px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-8 */
.section-8 {
    font-family: 'Kalam', cursive; /* Setting font family */
    color: #0000ff; /* Text color */
    background: linear-gradient(to bottom, rgb(230, 0, 255), rgb(255, 153, 170)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 37px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-9 */
.section-9 {
    font-family: 'Raleway', sans-serif; /* Setting font family */
    color: #ffa500; /* Text color */
    background: linear-gradient(to bottom, rgb(255, 153, 170), rgb(255, 101, 127)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 28px; /* Font size */
    font-weight: 700; /* Font weight */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-10 */
.section-10 {
    font-family: 'Fuggles', cursive; /* Setting font family */
    color: rgb(0, 0, 0); /* Text color */
    background: linear-gradient(to bottom, rgb(255, 101, 127), rgb(255, 0, 43)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 45px; /* Font size */
    font-weight: bolder; /* Font weight */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-11 */
.section-11 {
    font-family: 'Satisfy', cursive; /* Setting font family */
    background: linear-gradient(to bottom, rgb(255, 0, 43), rgb(255, 166, 0)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    color: #650000; /* Text color */
    font-size: 33px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-12 */
.section-12 {
    font-family: 'Raleway', sans-serif; /* Setting font family */
    background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(43, 255, 1)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    color: #8400ff; /* Text color */
    font-weight: 700; /* Font weight */
    font-size: 25px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-13 */
.section-13 {
    font-family: 'Fuggles', cursive; /* Setting font family */
    color: rgb(251, 0, 67); /* Text color */
    background: linear-gradient(to bottom, rgb(43, 255, 1), rgb(71, 255, 212)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bolder; /* Font weight */
    font-size: 45px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* CSS styles for section-14 */
.section-14 {
    font-family: 'Sedgwick Ave Display', cursive; /* Setting font family */
    background: linear-gradient(to bottom, rgb(71, 255, 212), rgb(2, 2, 255)); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffd000; /* Text color */
    font-size: 35px; /* Font size */
    text-align: center; /* Center-align text */
    padding: 30px 0; /* Adding padding */
}

/* Footer styles */
footer {
    background-color: #000000; /* Background color of the footer */
    color: #ffffff; /* Text color */
    text-align: center; /* Center-align text */
    padding: 10px; /* Adding padding to the footer */
}

footer p {
    margin: 0; /* Removing margin */
}
